p {
    border-bottom: 1px solid rgb(221,221,221);
    padding: 6px;
}
p:nth-of-type(odd) {
    background-color:rgb(200, 220, 255) ;
    border-radius: 10px 10px 10px 10px;
}
.striped-list > p:last-child {
    border-bottom: none;
}
.p{
    font-size: 15px;
    margin-bottom: 6px;
}

p.active {
    background-color:#123456 !important;
    color: white;
  }