<mat-list class="job-ad">
    <!-- <h3 mat-subheader>keys {{ keys }} and values {{values}} </h3> -->
    <mat-list-item *ngFor="let i of entries" (click)="transferData(i)">
        <!-- <h3 mat-subheader>{{ entries }} </h3> -->
        <!-- <mat-icon mat-list-icon>folder</mat-icon> -->

        <!-- <p mat-line>
              {{i[0]}}  {{ i[1] }}
        </p> -->

        <div mat-line *ngIf="checkElement (i,'new_line'); then content else other_content"></div>
        <ng-template #content>
            <p>

                {{i}}
            </p>
        </ng-template>

        <ng-template #other_content>
            <p>

                {{ i }}
                <br>

            </p>
        </ng-template>


    </mat-list-item>


</mat-list>