.leftCss{
  float: left;
}

.rightCss{
  float: right;
}

.leftAvatar{
  left: -32px;
}

.rightAvatar{
  right: -48px;
}


.message {
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
}

.timeform {
  float: left;
  width: 100%;
}
  i {
    margin-left: 20px;
  }

  .timestamp{
    font-size: 0.6em;
  }


.avatar ,img{
  width: 25px;
  margin-right: 20px;
  position: absolute;

  bottom: -8px;
}
.message.new {
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-animation: bounce 500ms linear both;
  animation: bounce 500ms linear both;
}

.messages {
  clear: both;
  /* float: left; */
  padding: 6px 10px 7px;
  border-radius: 10px 10px 10px 0;
  background: rgb(200, 220, 255);
  margin: 8px 0;
  font-size: 13px;
  line-height: 1.4;
  margin-left: 35px;
  margin-right: 34px;
  position: relative;
  color: black;
  font-weight: 600;
}